body {
    padding-top: 50px;
}

#desktop {
    display: none;
}

#mobile {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    max-width: 100%;
    background-color: $mainBgc;
    flex-wrap: wrap;
    transition: all 0.5s ease-in-out;
    z-index: 10000;
}

#mobile #hamburger {
    font-family: $fontF;
    font-size: 3rem;
    color: $mainColor;
    margin: 20px;
    user-select: none; //no selecting with mouse
    -webkit-tap-highlight-color: transparent; //no highlight in mobile
}

#mobile #hamburger:hover {
    cursor: pointer;
}

#mobile #navDropdown {
    display: none;
    width: 100vw;
    flex-direction: column;
    min-height: 170px;
}



#mobile #navDropdown ul {
    list-style-type: none;
}

#mobile #navDropdown ul li {
    flex-grow: 1;
    margin: 10px 20px;
}


#mobile #navDropdown ul li a {
    color: $mainColor;
    text-decoration: none;
    font-family: $fontF;
    font-size: 1.5rem;
}

#mobile #navDropdown ul li a:hover {
    color: $secondaryColor;
    font-weight: bold;
}

#mobile #logo {
    display: flex;
    flex-grow: 1;
    justify-content: right;
}

#mobile #logo a {
    margin: 20px;
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {


    #mobile {
        display: none;
    }

    #desktop {
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        background-color: $mainBgc;
        z-index: 10000;
    }

    #desktop #navBar {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        flex-grow: 2;
    }

    #desktop #navBar ul {
        list-style-type: none;

    }

    #desktop #navBar ul li {
        display: inline-flex;
        margin: 0 20px;
    }

    #desktop #navBar ul li a {
        color: $mainColor;
        font-size: $pFontSize;
        font-family: $fontF;
        text-decoration: none;
    }

    #desktop #navBar ul li a:hover {
        color: $secondaryColor;
        font-weight: bold;
    }

    #desktop #logo {
        display: flex;
        align-items: center;
        gap: 20px;
        flex-grow: 1;
    }

    #desktop #logo h2 {
        color: $mainColor;
        font-size: $pFontSize;
        font-family: $fontF;
    }

    #desktop #logo img {
        width: 62px;
    }
}