#projects {
    width: 100vw;
    max-width: 100%;
    background-color: $secondaryBgc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 100px 0;
}

#projects>h2 {
    color: $mainColor;
    font-family: $fontF;
    font-size: $h2FontSize;
    text-align: center;
}

#projects>.projectsType {
    padding-top: 50px;
}

#projects>p {
    color: $secondaryColor;
    font-family: $fontF;
    font-size: $pFontSize;
    text-align: center;
}

#projects .pCards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px 0;

}

#projects .pCards section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 500px;
    gap: 20px;
    background-color: #fff;
    border-radius: 20px;
    width: 90%;
    transition: all 0.7s;
}

#projects .pCards section:hover {
    transform: scale(1.1);
}

#projects .pCards section img {
    border-radius: 20px 20px 0 0;
    width: 100%;
}

#projects .pCards section h3 {
    color: $mainColor;
    font-family: $fontF;
    font-size: $h3FontSize;
    text-align: center;
}

#projects .pCards section p {
    text-align: center;
    font-family: $fontF;
    font-size: $pFontSize;
    margin: 0 10px;
}

#projects .pCards section a {
    display: block;
    background-color: $mainBgc;
    color: $mainColor;
    text-decoration: none;
    font-family: $fontF;
    font-size: $pFontSize;
    text-align: center;
    padding: 5px 15px;
    border-radius: 20px;
    margin-bottom: 10px;
    transition: all 0.7s;
}

#projects .pCards section:hover a {
    background: $secondaryBgc;
    color: $secondaryColor;
    transform: scale(1.1);
}

@media (min-width: 350px) {
    #projects .pCards section {
        width: 340px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    #projects {
        width: 100vw;
        max-width: 100%;
        background-color: $secondaryBgc;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 15px;
        padding: 100px 0;
    }

    #projects>h2 {
        color: $mainColor;
        font-family: $fontF;
        font-size: $h2FontSize;
        text-align: center;
    }

    #projects>.projectsType {
        padding-top: 50px;
    }

    #projects>p {
        color: $secondaryColor;
        font-family: $fontF;
        font-size: $pFontSize;
        text-align: center;
    }

    #projects .pCards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        gap: 20px 0;
        width: 50%;
    }

    #projects .pCards section {
        display: flex;
        flex-direction: column;
        // flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        background-color: #fff;
        border-radius: 20px;
        width: 350px;
        padding-bottom: 20px;
        // max-height: 450px;
    }

    #projects .pCards section img {
        border-radius: 20px 20px 0 0;
        // width: 100%;
        max-height: 200px;
    }

    #projects .pCards section h3 {
        color: $mainColor;
        font-family: $fontF;
        font-size: $h3FontSize;
        text-align: center;
    }

    #projects .pCards section p {
        text-align: center;
        font-family: $fontF;
        font-size: $pFontSize;

    }

    #projects .pCards section a {
        display: block;
        background-color: $mainBgc;
        color: $mainColor;
        text-decoration: none;
        font-family: $fontF;
        font-size: $pFontSize;
        text-align: center;
        padding: 5px 15px;
        border-radius: 20px;
    }
}